<section id="languages">
    <style>
        /* FontAwesome for working BootSnippet :> */
        
        @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
        /* #team {
            background: #eee !important;
        } */
        
        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #108d6f;
            border-color: #108d6f;
            box-shadow: none;
            outline: none;
        }
        
        .btn-primary {
            color: #fff;
            background-color: #007b5e;
            border-color: #007b5e;
        }
        
        section {
            padding: 60px 0;
        }
        
        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }
        
        #team .card {
            border: none;
            background: none;
        }
        
        .image-flip:hover .backside,
        .image-flip.hover .backside {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            border-radius: .25rem;
        }
        
        .image-flip:hover .frontside,
        .image-flip.hover .frontside {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        
        .mainflip {
            -webkit-transition: 4s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 4s;
            -moz-transition: 4s;
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transition: 3s;
            transform-style: preserve-3d;
            position: relative;
        }
        
        .frontside {
            position: relative;
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }
        
        .backside {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }
        
        .frontside,
        .backside {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 1s;
            -moz-transform-style: preserve-3d;
            -o-transition: 1s;
            -o-transform-style: preserve-3d;
            -ms-transition: 1s;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
        }
        
        .frontside .card,
        .backside .card {
            min-height: 312px;
        }
        
        .backside .card a {
            font-size: 18px;
            color: #007b5e !important;
        }
        
        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }
        
        .frontside .card .card-body img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        
        .cardcontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: hidden;
            flex-direction: row;
        }
        
        .cardcontainer .card {
            margin: 5px;
            width: 350px;
            height: 250px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: relative;
            transition: 0.5s;
            text-align: center;
        }
    </style>

    <div class="container">
        <div class="cardcontainer" id="programming-languages-container">
            <!-- Programming languages cards will be dynamically added here -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Fetch programming languages data from the API endpoint
        $.ajax({
            url: '/programminglanguages',
            method: 'GET',
            success: function(data) {
                // Update HTML content with fetched data
                const programmingLanguagesContainer = $('#programming-languages-container');

                data.forEach(function(language) {
                    const card = $('<div class="col-xs-12 col-sm-6 col-md-4">');
                    const cardFlip = $('<div class="image-flip" ontouchstart="this.classList.toggle(\'hover\');">');
                    const frontSide = $('<div class="frontside">');
                    const backSide = $('<div class="backside">');

                    // Front side of the card
                    frontSide.append(`
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="${language.image}" alt="${language.name}"></p>
                            <h4 class="card-title">${language.name}</h4>
                            <p class="card-text">${language.title}</p>
                            <p class="card-text"><strong>Level:</strong> ${language.level}</p>
                        </div>
                    </div>
                `);

                    // Back side of the card
                    backSide.append(`
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">${language.name}</h4>
                            <p class="card-text">${language.description}</p>
                            <ul class="list-inline">
                                <!-- Add your social icons here if needed -->
                            </ul>
                        </div>
                    </div>
                `);

                    cardFlip.append(frontSide);
                    cardFlip.append(backSide);
                    card.append(cardFlip);
                    programmingLanguagesContainer.append(card);
                });
            },
            error: function(err) {
                console.error('Error fetching programming languages data:', err);
            }
        });
    </script>
</section>