<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>Portfolio</title>
</head>

<body style="margin-right: 10px;">

    <!-- Navbar Section -->
    {% include "nav.html" %}



    <div id="milestone">

        {% include "milestone.html" %}

    </div>
    <!-- Carousel wrapper -->

    <!--  Sample Projects-->

    <div id="projects">

        {% include "projects.html" %}

    </div>
    <!--  Sample Projects-->

    <div id="education">
        <!--Education Content-->
        {% include "education.html" %}

        <!--Education Content-->
    </div>
    <div id="skills">
        <div class="section bg-color" id="skill">
            <div class="h4 text-align left mb-4 title" id="Prof-skill">Professional Skills</div>
            <div id="languages" style="margin-top: 3rem;">

                <h5 style="text-align: center; ">Programming Languages:</h5><br>

                <!-- Team member -->
                {% include "languages.html" %}

            </div>
            <!-- ./Team member -->
            <div>
                <div style="text-align: center;">
                    {% include "technicals.html" %}
                </div>
            </div>
        </div>

    </div>

    <div id="contact">
        <!--Contact Section-->
        {% include "contact.html" %}
        <!--Contact Section-->
    </div>

    <div id="footer">
        <!--Page Footer-->

        {% include "footer.html" %}
        <!--Page Footer-->


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Animation to fade in the element
            $('.myprof').fadeIn(15000);
        });

        //Make the carousel slide every 4 seconds
        $('.carousel').carousel({
            interval: 4000
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>