<section style="margin-top: 3rem;">
    <div class="section" id="milestones">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="h4 mt-0 title" style="text-align: center;">Key Milestones</div>
                    <ul style="list-style-type: georgian;">
                        <li>
                            Recent graduate with a Cetification in Software Engineering [Backend Dev] from <a href="https://ALX-SE">ALX-SE</a> looking to leverage my experience building responsive and scalable web.

                        </li>
                        <li>
                            Microsoft Azure Certified: Azure Fundamentals
                        </li>

                    </ul>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="h4 mt-0 title">Personal Information</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">
					Age:
				</strong></div>
                        <div class="col-sm-8">25</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">
					Email:
				</strong></div>
                        <div class="col-sm-8">O***@gmail.com</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">
					Phone:
				</strong></div>
                        <div class="col-sm-8">795*****3</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">
					Address:
				</strong></div>
                        <div class="col-sm-8">
                            Nairobi, Kenya
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">
					Language:
				</strong></div>
                        <div class="col-sm-8">English, Swahili, Luo</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>