<section>
    <style>
        nav {
            background-color: #007b5e;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            color: white;
            text-decoration-color: white;
        }
        
        nav .navli {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }
        
        nav .navli:hover {
            /* Adjust the scale factor as needed */
            transform-style: inherit;
            background-image: -webkit-image-set("https://img.freepik.com/premium-photo/abstract-white-background-with-smooth-lines_476363-1518.jpg?size=626&ext=jpg&uid=R68194178&semt=sph");
            color: rgb(227, 134, 3);
        }
        
        .nav-itm:hover {
            color: #feb305;
        }
    </style>
    <nav>
        <!-- <ul class="navli" style=""> -->
        <ul class=" navli">
            <li class="nav-itm"><a href="{{url_for('index')}}">Home</a></li>
            <li class="nav-itm"> <a href="#projects">Projects</a></li>
            <li class="nav-itm"><a href="#education">Education</a></li>
            <li class="nav-itm"><a href="#milestones">Milestones</a></li>
            <li class="nav-itm"><a href="#languages">Languages</a></li>
            <li class="nav-itm"><a href="#about">About</a></li>

            <li class="nav-itm"><a href="#contact">Contact</a></li>
            <span>
                <img src="https://" alt="" srcset="">
            </span>
        </ul>
    </nav>
</section>