<section id="projects">
    <style>
        .projectcontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: hidden;
            flex-direction: row;
        }
        
        .projectcard {
            margin: 5px;
            width: 350px;
            border: 10%;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            text-align: center;
        }
        
        .projectcard #img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        
        .projectcontainer h2,
        h4 {
            color: rgb(5, 117, 161);
            font-family: fantasy;
            font-size: 20px;
        }
    </style>

    <div class="section" id="skill">
        <div class="h4 text-center mb-4 title" id="project-info" style="text-align: center;">Projects</div>
        <div id="project-container" class="projectcontainer">
            <div class="row">
                <!-- Projects will be automatically displayed.-->

            </div>

        </div>
    </div>
    <!-- Make sure to include Bootstrap CSS -->

    <script>
        const projectsListElement = document.getElementById('project-container');

        fetch('/projects')
            .then(response => response.json())
            .then(projectsData => {
                projectsData.forEach(project => {
                    const projectCard = document.createElement('div');
                    projectCard.classList.add('col');

                    const images = project.images || [{
                        image: project.image
                    }, {
                        image: project.image1
                    }];

                    projectCard.innerHTML = `
                        <div class="card h-100 projectcard">
                            <img src="${images[0].image}" class="card-img-top" id="img" alt="${project.name}" />
                            <div class="card-body">
                                <h5 class="card-title">${project.name}</h5>
                                <p class="card-text">${project.description}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><a href="${project.link}" target="_blank">GitHub</a> ${project.year}</small>
                            </div>
                        </div>
                    `;
                    projectsListElement.appendChild(projectCard);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>



</section>